<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Hello Moyo!</title>

    <%# <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.1/css/bulma.min.css" integrity="sha256-CDVQJfU+jJGU/oyDzvnzuGXbv0rz+SyBsPQwyn7x/jQ=" crossorigin="anonymous" /> %>

    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>

    <nav class="navbar">
      <div class="navbar-brand">
        <a class="navbar-item">
          <h1 class="is-capitalized"><strong>Moyo</strong></h1>
        </a>

        <div class="navbar-burger burger" data-target="navMenubd-example">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>

      <div id="navMenubd-example" class="navbar-menu">
        <div class="navbar-start">
          <%= if logged_in?(@conn) do %>
            <div class="navbar-item">
              <%= current_user(@conn).email %>
            </div>
            <%= link "Sign out", to: session_path(@conn, :delete, :access), method: :delete, class: "navbar-item" %>
          <% else %>
            <%= link "Create new account", to: user_path(@conn, :new), class: "nav-item" %>
            <%= link "Sign in", to: session_path(@conn, :new), class: "nav-item" %>
          <% end %>
        </div>
      </div>
    </nav>

    <div class="section">
      <div class="containter">

        <div class="columns">
          <div class="column is-one-quarter">

            <aside class="menu">
              <p class="menu-label">
                Planning
              </p>
              <ul class="menu-list">
                <li><a>Inbox</a></li>
                <li><a>LNP</a></li>
              </ul>
            </aside>

          </div>
          <div class="column">

            <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
            <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

            <%= render @view_module, @view_template, assigns %>

          </div>
        </div>

      </div>
    </div>

    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
